
/* import url('https://fonts.googleapis.com/css?family=Dosis'); */



html {
  background-color: #353c44;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin:0;
  
}
